// grand central station

//Import

@import '_google-homepage.scss';

    


body {
    background: #3fe0d4;
}

// First Frame
#line {
    transform: scale(.5);
    transition: transform .5s;
}

//Last Frame
#line:hover {
    transform: scale(1.5);
}